fastapi==0.115.12
fpdf==1.7.2
google_api_python_client==2.109.0
gunicorn
ipython==8.12.3
pydantic==2.11.4
python-dotenv==1.1.0
redis
Requests==2.32.3
supabase==2.15.1
uvicorn==0.34.2
youtube_transcript_api==1.0.3
